<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CEO -->

    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
    
    <title><%= t.title %> </title>
</head>
<body>
    <%- include('../components/header.ejs') %>

    <%- include('../components/hero.ejs') %>
    <!-- script -->
     <script src="js/main.js"></script>
</body>
</html>