*{
    padding: 0;
    margin:0;
    box-sizing: border-box;    
}
body{
    background: radial-gradient(circle,#1c1c1c,  #191818) ;
    color: white;
}


/* header */
.header{
    background:transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        a{
            text-decoration: none;
            width: 80px;
            color: #D9d9d9;
            transition: all .3s ease-in-out;

            img{
                width: 50px;
                height: 50px;
            }
        }
        a:hover{
            color: white;
            scale: 1.1;
        }
    }
}

/* hero */
.hero{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .title{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: auto;

        .line{
            width: 400px;
            height: 3px;
            background: goldenrod;
            border-radius: 50%;
            margin-left: auto;
        }
        h1{
            font-size: 120px;
        } 
        h2{
            width: 50%;
            margin-left: auto;
            text-transform: uppercase;
            color: goldenrod;
            text-align: end;
            font-size: 22px;
        }
    }

    .redes{
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    

        .social_content{
            display: flex;
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            gap: .5rem;
            flex-direction: column;

            a{
                text-decoration: none;
                transition: all .3s ease-in-out;
                
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            a:hover{
                transform: scale(1.2);
            }
        }
        .scroll{
            margin-bottom: 5rem;
            transform: rotate(90deg);
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .line_scroll{
                width: 30px;
                height: 2px;
                background: gray;
            }
        }
    }
}