<header class="header">
    <nav>
        <a href="#home"><%= t.header.home %></a>
        <a href="#about"><%= t.header.about %></a>
        <a href="/"><img src="logo.svg" alt=""></a>
        <a href="#portfolio"><%= t.header.port %></a>
        <a href="#contact"><%= t.header.contact %></a>
    </nav>
</header>